<!DOCTYPE html>
<head>
    <title>Floats</title>
</head>
<body>


<div class="container red">1</div>
<div class="container green">2</div>
<div class="container blue">3</div>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>







</body>
</html>
<style>


 
.container {
    font-size: 50px;
    width: 100px;
    display: inline-block;
    height: 300px;
    border: solid 1px black;
}

.red {
    background-color: red;
    float: left;
    margin-left: 25px;
}


.green {
    background-color: green;
    float:right;
}

.blue {
    background-color: blue;
    float: right;
}

p {
    font-size: 20px;
}

</style>

<!-- STYLING FLOATS WITH CSS

-->