<!DOCTYPE html>
<head>
    <title>Flexbox</title>
</head>
<body>

<div class="flexbox">
<div class="container red">1</div>
<div class="container green">2</div>
<div class="container blue">3</div>

<!--
<div class="container red">4</div>
<div class="container green">5</div>
<div class="container blue">6</div>

<div class="container red">7</div>
<div class="container green">8</div>
<div class="container blue">9</div> -->
</div>







</body>
</html>
<style>

.flexbox {
    border: solid 2px red;
    margin: 10px;
    padding: 5px;
    height: 97vh;
    display: flex;

    flex-flow: column wrap;

    justify-content: center;
  
    align-items: start;
    align-content: space-around;
}


body {
    margin: 0px;
}

.container {
    flex: 1 1 200px;
    width: 200px;
}


.red {
    background-color: red;


}


.green {
    background-color: green;

}

.blue {
    background-color: blue;

}


</style>

<!-- STYLING FLEXBOX WITH CSS
display: flex;
flex-direction: [column, row, row-reverse, column-reverse];
flex-wrap: [nowrap, wrap, wrap-reverse];
justify-content: [start, center, space-around, space-between, space-evently]
align-items: [stretch, center, start, end];
align-content: [start, center, space-between, space-around]
gap: Set space between flex elements (like a margin)

flex-flow => shorthand for flex-direction and flex-wrap

flex-grow: [integer]
flex-shrink: [integer]
flex-basis: The default size on the main axis

flex => shorthand for flex-grow, flex-shrink and flex-basis

order: [integer] => The order in which a flex item appears. 

-->